@model IEnumerable<Implementacija.Models.Film>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GodinaObjave)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zanr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trajanje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sinopsis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direktor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OcjenaIMDb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slika)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GodinaObjave)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zanr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trajanje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sinopsis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direktor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OcjenaIMDb)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slika)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
